<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="SHORTCUT ICON" type="image/png" href="@Url.Content("~/party-16x16.png")" sizes="16x16" />
    <link rel="SHORTCUT ICON" type="image/png" href="@Url.Content("~/party-32x32.png")" sizes="32x32" />
    <title>@ViewBag.Title - AutoHelps</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", false)
</head>
<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="padding-top: 8px;" class="navbar-brand" href="@Url.Action("Index","Home")"> <img src="@Url.Content("~/Images/logo_autohelp-60x35.png")" alt="AutoHelp Logo"></a>
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Manage", "Index", "Manage")</li>
                </ul>
            </nav>

        </div>

    </header>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", false)
    <script type="text/javascript">
        BaseHelpers = new Base.Helpers();
        $(document).ready(function () {
            window.CurrentBasePage && window.CurrentBasePage.Ready();
            @RenderSection("PageReady", false);
        });
    </script>
    <script id="errorlisttemplate" type="text/x-handlebars-template">
        {{#each this}}
        <li class="list-group-item"><a class="small" href="#"><span class="label label-info">{{count}}</span>&nbsp;{{message}}</a></li>
        {{/each}}
    </script>
    @*
        Google Analytics
        ----------------
        Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
        script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
        the max number of simultaneous connections of the browser.
        https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    @*<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
        </script>*@
</body>
</html>
